body {
  font-family: "Raleway", sans-serif;
  color: #080126;
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: "Raleway", sans-serif;
}

/* --------------------------------- LAYOUT --------------------------------- */

.container,
.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    /* max-width: 1140px; */
  }
}
@media (min-width: 1400px) {
  .container {
    /* max-width: 1320px; */
  }
}

main {
  padding: 20px;
  margin-top: 88px;
  background-color: white;
  /* height: 1500px; */
  /* min-height: 100vh; */
}

p {
  font-size: 14px;
}

@media (max-width: 768px) {
  main {
    margin-top: 133px;
  }
}

/* search bar */
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.search-bar__icon {
    background-color: #f1f1f1;
    padding: 16px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.search-bar__input{
  font-size: 20px;
  font-weight: bold;
  height: 44px;
  max-width: max(100%, 88px);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}

.search-bar__button {
  font-size: 16px;
  background-color: #1c46dc;
  color: white;
  padding: 14px 20px;
  font-weight: bold;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.search-bar__button:hover {
  color: #1c46dc;
  background-color: white;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 16px;
}

.filter-title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 38px;
}

.filter-elt{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  border: 1px solid #a3b2ea;
  border-radius: 29px;
  margin-left: 8px;
  margin-right: 8px;
  margin: 2px 8px;
}

.filter-elt__icon {
  color: #1c46dc;
  background-color: #a3b2ea;
  padding: 12px;
  border-radius: 50%;
  font-size: 20;
}

.filter-elt__label {
  font-size: 18px;
  font-weight: bold;
  width: auto;
  padding-left: 10px;
  padding-right: 16px;
  margin: 0;
}